image: alpine:3.19

stages:
  - release

publish_package:
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG'
  before_script:
    - apk add --no-cache curl
  script:
    - >
      curl --fail-with-body
      --header "Job-Token: $CI_JOB_TOKEN"
      --data tag="${CI_COMMIT_TAG}"
      "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/composer"
  environment: production
