{
    "$schema": "https://infection.github.io/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": ".",
        "customPath": "vendor/bin/phpunit"
    },
    "timeout": 10,
    "logs": {
        "text": "build/infection/infection.log",
        "json": "build/infection/infection.json",
        "summary": "build/infection/summary.log"
    }
}
