includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    tmpDir: var/phpstan
