name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['7.4']
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: none
      - name: Validate composer files
        run: composer validate --strict
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-interaction --no-suggest
      - name: Run tests
        run: vendor/bin/phpunit --verbose --configuration phpunit.xml.dist
